{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
{% include 'partials/_navbar.html' %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr class="th">Product</tr>
                    <tr class="th">Category</tr>
                    <tr class="th">Price</tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}